/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

@import url("/resources/dialog.css");
@import url("/ui/item-edit-ui.css");


/* tabbis.js */

[data-panes] > .flex-box > .row {
  align-items: flex-start;
}

[data-panes] > .flex-box > .flex-box {
  max-height: 100%;
}


/*
.dialog-content > .flex-box {
  overflow-y: auto;
}

.dialog-content > .flex-box > .flex-box {
  align-items: flex-start;
}
*/

input[type="email"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="search"],
select {
  width: 100%;
}

textarea {
  height: 100%;
  resize: none;
  width: 100%;
}

#mailing-list-start-chat-button-container {
  align-items: center;
}

#contacts-chooser-container {
  align-items: stretch;
  min-height: 0;
}


.items-list-container {
  border: 1px solid;
  margin-top: 0.5em;
  padding: 0.5em;
}


.dummy {
  visibility: hidden;
}

