/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/


@import url(/extlib/dialog.css);
@import url(./base.css);
@import url("/extlib/tabulator_simple.min.css");


#form > .flex-box {
  min-height: 0; /* required to shrink dialog content */
}

.flex-box.shrink {
  flex-grow: 0;
}

label + label {
  margin-left: 0.5em;
}

.in-page-dialog.dialog {
  display: flex;
}

.in-page-dialog.dialog-contents {
  display: flex;
  overflow: auto;
  padding-right: 0.5em;
}


input.auto-grow {
  --base-width: 3ch;
  --offset-width: 1em;
  width: calc(var(--base-width, 5ch) + var(--offset-width, 0));
}


p {
  margin: 0;
  padding: 0;
  text-indent: 0;
}

fieldset {
  border: 0 none;
  margin-bottom: 1em;
  padding-left: 1em;
}

legend {
  font-weight: bold;
  margin-left: -1em;
}

input:disabled,
select:disabled,
textarea:disabled {
  background: transparent;
  border: none;
  color: inherit;
  opacity: 1;
  -moz-appearance: none;
}

select:disabled button {
  display: none;
}

table {
  width: 100%;
}

th {
  padding-bottom: 0.5em;
  vertical-align: top;
  white-space: nowrap;
}

td {
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  vertical-align: top;
  width: 100%;
}

pre {
  max-width: 100%;
  white-space: pre-wrap;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0 0 0.25em;
  padding: 0;
}

progress[value="100"] {
  visibility: hidden;
}


/* Override Tabulator theme */

.tabulator {
  font-size: 100%;
}

.tabulator-row {
  border: 0 none;
  min-height: 1.1em;
}

.tabulator-row .tabulator-cell {
  border: 0 none;
  padding: 0.2em;
  user-select: none;
}

.tabulator .tabulator-header,
.tabulator .tabulator-tableHolder .tabulator-table {
  color: var(--in-content-text-color);
}

.tabulator-row.tabulator-tree-level-0 > .tabulator-cell:nth-child(2) {
  padding-left: calc(0.2em + 11px + 5px);
}

.tabulator-row .tabulator-cell .tabulator-data-tree-branch {
  margin-right: calc(5px + 5px + 11px);
}

.tabulator-row.tabulator-tree-level-0 > .tabulator-cell > .tabulator-data-tree-control,
.tabulator-row:not(.tabulator-tree-level-0) .tabulator-cell .tabulator-data-tree-control {
  margin-left: calc(-5px + -11px);
}

/*
.tabulator-cell[tabulator-field="$color"],
.tabulator-cell[tabulator-field="$readonly"] {
  max-width: 12px;
}
*/

/* prevent to resize columns accidentally */
.tabulator-tableHolder .tabulator-col-resize-handle {
  pointer-events: none;
}



/* tabbis.js */

[data-tabs] {
  background: var(--in-content-box-info-background);
  overflow-x: auto;
  display: flex;
  min-height: calc((.75rem * 2) + 1.25em);
  line-height: 1.25;
}
[data-tabs] > button[role="tab"] {
  all: unset;
  padding: .75rem 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--in-content-page-color);
  border: 1px solid transparent;
  outline: none;
}
[data-tabs] > button[role="tab"]:hover {
  background: var(--in-content-button-background-hover);
  box-shadow: none;
}
[data-tabs] > button[role="tab"]:active {
  background: var(--in-content-button-background-active);
  box-shadow: none;
}
[data-tabs] > button[role="tab"]:focus {
  border: 1px dotted var(--in-content-border-focus);
  box-shadow: none;
}
[data-tabs] > button[role="tab"][aria-selected="true"] {
  background: var(--in-content-page-background);
  color: var(--in-content-page-color);
}
[data-tabs] > [role="tab"][aria-selected="true"]:focus {
  border: 1px dotted var(--in-content-page-color);
}

[data-panes] {
  align-items: stretch;
  overflow-y: auto;
}
[data-panes] > * {
  background: var(--in-content-page-background);
  padding: 1rem;
  outline: none;
  overflow: auto;
  border: 1px solid transparent;
}
[data-panes] > *[hidden] {
  display: none;
}
[data-panes] > *:focus {
  border: 1px dotted var(--in-content-page-color);
}


/* items list for contacts and mailing lists */

.items-list-container {
  align-items: flex-start;
  overflow: auto;
}

.items-list-container .tabulator-header {
  display: none;
}

.items-list-container .tabulator button {
  margin-right: 1em; /* guard for the scroll bar */
  min-width: 0;
}

.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.items-list li {
  align-items: stretch;
  flex-grow: 0;
  list-style: none;
  margin: 0.2em 0;
  padding: 0;
  white-space: nowrap;
}

.items-list li label {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
}

/* placeholder for the cell */
.items-list li label::after {
  content: " ";
}

.items-list li label > * {
  bottom: 0;
  left: 0;
  line-height: 1.25;
  /* We need to specify these properties instead of the flexible-container because text-overflow doesn't work for display:flex elements. */
  overflow: hidden;
  position: absolute;
  right: 0;
  text-overflow: ellipsis;
  top: 0;
  width: 100%;
}

.items-list li button {
  flex-grow: 0;
  min-width: 0;
}
