/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

@import url("/resources/dialog.css");

.dialog-content {
  max-height: 800px;
}

.dialog-content > .column > .row {
  align-items: flex-start;
  overflow: auto;
}

th {
  background: var(--bg-color);
  left: 0;
  position: sticky;
  white-space: nowrap;
  width: auto;
}

td {
  padding: 0;
  white-space: pre-wrap;
  width: auto;
}

td > label > input[type="radio"] {
  float: left;
}
td > label > span {
  display: block;
  margin-left: 1.5em;
  max-width: 23em;
  padding: 0.25em;
}

input[type="radio"]:checked,
input[type="radio"]:checked + span {
  background: #9abcea; /* from tabulator's theme */
}

tr[data-item-field^="Custom"] > td > label > span {
  overflow: auto;
  white-space: pre;
}
