/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

@import url("/resources/dialog.css");


/* tabbis.js */

[data-panes] .flex-box .row {
  align-items: flex-start;
}

[data-panes] {
  overflow-y: visible;
}
[data-panes] > * {
  overflow: visible;
}


input[type="text"],
input[type="url"],
input[type="password"] {
  width: 100%;
}

:root:not([data-sync-type="cardDAV"]) .cardDAV {
  display: none;
}


#customDisplayNameFormatPlaceholders {
  cursor: text;
  max-height: 5em;
  min-height: 0;
  overflow-y: auto;
  user-select: text;
  white-space: pre-wrap;
}
