/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

@import url("/resources/dialog.css");
@import url("/ui/item-edit-ui.css");


/* tabbis.js */

[data-panes] .flex-box .row {
  align-items: flex-start;
}


input[type="email"],
input[type="tel"],
input[type="text"],
input[type="url"],
select {
  width: 100%;
}

textarea {
  height: 100%;
  resize: none;
  width: 100%;
}


#contact-image-container {
  align-items: center;
  margin-bottom: 0.5em;
}

#contact-image-container img {
  max-height: 18em;
  max-width: 15em;
}

#choose-image-file-field {
  display: none;
}

#choose-image-button {
  margin-top: 0.5em;
}

#contact-start-chat-button-container {
  align-items: center;
}

