/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

@import url("/resources/dialog.css");

@media print {
  #print-control {
    display: none !important;
  }

  :root.dialog > body,
  .flex-box {
    display: initial !important;
  }

  :root .dialog-content {
    position: static !important;
  }
}

@media screen {
  #print-control {
    border-right: 1px solid;
  }

  #printable {
    background: white;
    border: 1px solid;
    color: black;
    overflow: auto;
    padding: 1em;
  }
}


.dialog-content > .row {
  align-items: stretch;
}


#print-control {
  padding: 0.5em 1em 0.5em 0.5em;
}

#print-control button + button {
  margin-left: 0.5em;
}

#print-control label {
  white-space: nowrap;
}


#printable {
  font-size: medium;
}

#printable section {
  white-space: pre;
}

#printable section + section {
  margin-top: 1em;
  border-top: medium solid;
  padding-top: 1em;
}

#printable th {
  white-space: nowrap;
}

#printable td {
  white-space: normal;
}

#printable tr[id$="Heading"] ~ tr > th:not([colspan]) {
  padding-left: 2em;
}

#printable tr[id$="NameField1"] > th,
#printable tr[id$="NameField2"] > th {
  vertical-align: bottom;
}

#printable tr[id^="contact:"][id$=":Notes"] td {
  white-space: pre-wrap;
}
