/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/


.has-detail.focused .summary,
.has-detail:not(.focused) .detail.primary {
  display: none;
}
.has-detail.focused .summary input,
.has-detail:not(.focused) .detail.primary input {
  -moz-user-focus: none;
}
.has-detail .detail:not(.primary) {
  max-height: 9999em; /* override me with enough size! */
  overflow: hidden;
  transition: max-height 0.25s ease-out,
              opacity 0.25s ease-out;
}
.has-detail.animation-finished .detail:not(.primary) {
  overflow: auto;
}
.has-detail:not(.focused) .detail:not(.primary) {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  -moz-user-focus: none;
}

#categories-list {
  margin-top: 0.5em;
}

.has-detail.focused #categories-list {
  max-height: 10em;
}

.has-detail.focused .address-fields {
  max-height: 15em;
}
