/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

/*@import url("/extlib/style-default.min.css");*/
@import url("/resources/dialog.css");



/* Layout */

:root {
  --icon-size: 16px;
}

:root:not(.initialized) {
  opacity: 1;
}

#toolbar {
  flex-grow: 0;
  flex-shrink: 0;
  padding-bottom: 0.25em;
}

#toolbar > * + * {
  margin-left: 0.25em;
}

#toolbar button {
  min-width: 0;
}

#toolbar button label {
  aling-items: center;
  display: flex;
  flex-direction: row;
  margin: 0;
  min-width: 0;
  padding: 0.25em;
}

#toolbar button label::before {
  background: currentcolor;
  content: " ";
  display: inline-block;
  height: var(--icon-size);
  margin-right: 0.5em;
  mask: none no-repeat center / 100%;
  min-height: var(--icon-size);
  min-width: var(--icon-size);
  width: var(--icon-size);
}

#toolbar button#main-menu-button label::before {
  margin-right: 0;
  mask-image: url(/resources/icons/menu.svg);
}

#toolbar button#sync-all-address-books-button label::before {
  mask-image: url(/resources/icons/sync.svg);
}

#toolbar button#start-composition-button label::before {
  mask-image: url(/resources/icons/newmsg.svg);
}

#toolbar button#options-button label::before {
  mask-image: url(/resources/icons/Preferences.svg);
}

#toolbar button#start-composition-menu-button {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  min-width: 0;
}
#toolbar button#start-composition-menu-button label::before {
  margin-right: 0;
  mask-image: url(/resources/icons/ArrowheadDown.svg);
  mask-size: 80%;
}

#toolbar button#create-mailing-list-button label::before {
  mask-image: url(/resources/icons/addlist.svg);
}

#toolbar button#show-item-button label::before {
  mask-image: url(/resources/icons/accounts.svg);
}

#toolbar button#delete-items-button label::before {
  mask-image: url(/resources/icons/delete.svg);
}

progress[value="100"] {
  display: none;
}



#main-wrapper {
  position: relative;
}

#main {
  align-items: stretch;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

:root.initialized #container {
  opacity: 1;
}

#main > .flex-box {
  min-height: 0; /* required to shrink dialog content */
}


.splitter.column {
  border: 1px solid;
  cursor: col-resize;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 0.25em;
}


#address-books .tabulator-header {
  display: none;
}

.color-tip {
  display: inline-block;
  height: var(--icon-size);
  width: var(--icon-size);
}

.svg-icon {
  background: currentcolor;
  display: inline-block;
  height: var(--icon-size);
  mask: none no-repeat center / 80%;
  min-height: var(--icon-size);
  min-width: var(--icon-size);
  width: var(--icon-size);
}

.status-icon {
  display: none;
}
.status-icon.synchronizing {
  display: inline-block;
  mask-image: url(/resources/icons/sync.svg);
}
.status-icon.readonly {
  display: inline-block;
  mask-image: url(/resources/icons/locked.svg);
}

.type-contact {
  mask-image: url(/resources/icons/locked.svg);
}

.type-contact {
  mask-image: url(/resources/icons/contact.svg);
}
.type-mailingList {
  mask-image: url(/resources/icons/ablist.svg);
}


/* item details */

.text-selectable {
  cursor: text;
  user-select: text;
}

#item-details {
  max-height: 100%;
}

#item-details-general-main-box {
  align-items: flex-start;
  flex-grow: 0;
}

#item-details th {
  white-space: nowrap;
}

#item-details td {
  white-space: pre-wrap;
}

#item-details-image-container {
  align-items: center;
  margin-bottom: 0.5em;
}

#item-details-image-container img {
  max-height: 18em;
  max-width: 15em;
}

#item-details-start-chat-button-container {
  align-items: center;
}

#item-details-mailing-list-contacts td {
  width: auto;
}


/* selection palette */

#selection-palette {
  max-height: 100%;
}

#selected-items-buttons {
  align-items: center;
  flex-grow: 0;
}

#selected-items-buttons button {
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  width: 50%;
}


/* menu UI */

/* hide menus by default */
ul[role="menu"] {
  opacity: 0;
}


/* dialog UI */

:root.initialized .rich-confirm > .rich-confirm-row {
  align-items: center;
}
